<%- layout('../views/boilerplate') %>

    <p id="contacts" xmlns="http://www.w3.org/1999/html"></p>
    <div id="callPage" class="call-page">
        <video id="localVideo" autoplay></video>
        <video id="remoteVideo" autoplay></video>

        <div class="row text-center">
            <div class="col-md-12">
                <button id="startBtn" class="btn-success btn" href="#">Start</button>
                <form method="POST">
                    <input id="callToUsernameInput" type="text" name="receiver" placeholder="username to call" required/>
                    <input type="submit" value="call" id="callBtn" class="btn-success btn" href="/video" />
                </form>
                <form method="patch">
                    <input type="submit" value="hangup" id="hangUpBtn" class="btn-danger btn" href="/video" />
                </form>
            </div>
        </div>
    </div>
    <script src="js/client.js"></script>